.main-content__title{
  font-family: 'Roboto Slab', serif;
  color: purple;
}

body{
  margin: 0;
}

.wrapper{
  margin:auto;
  width: 80%;
  border: dashed 1px blue;
}

.logo, .menu{
  display: inline-block;
  border: dashed 1px red;
}

.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  padding: 40px 0;
}

.menu{
  display:flex;
  align-items: center;
}

.menu__item{
  padding: 0 13px;
  border: dashed 1px green;
}

menu__item:last-child{
  padding-right: 0;
  border: dashed 1px green;
}
