.main__title{
  margin:0 0 40px 0;
  font: 700 50px/64.7px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main__subtitle{
  margin:0 0 41px 0;
  font: 400 18px/21.09px 'Roboto', arial, helvetica, sans-serif;
}

.main__button{
  font: 500 14px/16.41px 'Roboto', arial, helvetica, sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  color: #FFFFFF;
  background: #0056EC;
  border-radius: 4px;
}

.main__title-text_highlight{
  background: #ECF3FF;
}

.main{
  padding: 0 63% 100px 0;
  background: top right no-repeat url('img/mainimg.svg');
}

body{
  margin: 0;
  width: 100vw;
  max-width: 100vw;
}

.wrapper{
  margin:auto;
  width: 80%;
}

.logo, .menu{
  display: inline-block;
}

.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo{
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px 'pt_serifbold', arial, helvetica, sans-serif;
}

.logo__circle{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
}

.logo__circle_color_blue{
  left:8px;
  top:56%;
  background:#C8DBFB;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue{
  background: #0056EC;
  border-radius: 50%;
  opacity: .7;
}

#checkbox {
  display: none;
}

.burger-menu {
  display: none;
}

.menu{
  position: relative;
  display:flex;
  align-items: center;
}

.menu__item:last-child{
  margin-right: 0;
}

.menu__item:hover{
  opacity: .5;
}

.menu__item{
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item_active::after{
  position: absolute;
  display: block;
  content:'';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item::after{
  position: absolute;
  display: block;
  content:'';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: .5;
  transition: opacity .5s, width .5s;
}

.menu__item:hover::after, .menu__item_active::after{
  opacity: 1;
  width: 100%;
}

@media (max-width: 375px) {

  .wrapper {
      width: 87%;
    }

  .logo{
    color: rgba(255, 0, 0, 0);
    padding: 23px 0;
  }

  .menu {
    display: none;
  }

 .main {
   padding: 75% 0 0 0;
   background: top center no-repeat url(img/mainimg.svg);
   background-size: 42vh 34.5vh;
   background-position-y: -3vw;
 }

 .menu__item {
   font: 500 30px/35.16px 'Roboto', arial, helvetica, sans-serif;
   padding: 0 0 24px 0;
 }

 .menu__item:hover::after {
   opacity: 1;
   width: 100%;
 }

  #checkbox {
    display: none;
  }

  #checkbox:checked ~ .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: white;
    justify-content: center;
  }

  #checkbox:checked ~ .burger-menu {
    background-color: white;
    transform: rotate(90deg);
    transition: transform .5s ease-in, background-color .5s;
  }

  #checkbox:checked ~ .burger-menu::after {
    transform: rotate(45deg);
    top: 0;
  }

  #checkbox:checked ~ .burger-menu::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .burger-menu {
    display: flex;
    position: relative;
    top: 6vh;
    width: 26px;
    height: 4px;
    background-color: blue;
    z-index: 3;
  }

  .burger-menu::before {
    position: absolute;
    content: '';
    top:-1.2vh;
    background-color: blue;
    width: 26px;
    height: 4px;
    transition: all .5s ease-in;
  }

  .burger-menu::after {
    position: absolute;
    content: '';
    top: 1.2vh;
    background-color: blue;
    width: 26px;
    height: 4px;
    transition: all .5s ease-in;
}
